<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <link name="gps_link">
    <visual>
      <geometry>
        <box size="0.06 0.055 0.025"/>
      </geometry>
    </visual>
  
    <collision>
      <geometry>
        <box size="0.06 0.055 0.025"/>
      </geometry>
    </collision>
  
    <xacro:box_inertia m="0.1" w="0.06" d="0.055" h="0.025"/>
  </link>
  
  <joint name="gps_joint" type="fixed">
    <origin xyz="0.0 0.0 ${base_height + 0.18}" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="gps_link"/>
  </joint>

  <gazebo reference="gps_link">
      <sensor name="gps_sensor" type="gps">
          <always_on>true</always_on>
          <update_rate>10.0</update_rate>
          <plugin name="gps_controller" filename="libgazebo_ros_gps_sensor.so">
              <ros>
                  <!-- <namespace>/br</namespace> -->
                  <remapping>gps_controller/out:=/nocov/gps</remapping>
              </ros>
              <frame_name>gps_link</frame_name>
          </plugin>
      </sensor>
      <material>Gazebo/Grey</material>
  </gazebo>
</robot>